
.navbar-collapse.collapse.show{
  position: fixed;
    top: 104px;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    left: 0;
    background: #1d1d1d;
}
.navbar-toggler {
    position: relative;
    display:  inline-block;
    border: none;
  }
  .navbar-toggler span {
    margin: 0 auto;
    position: relative;
  }

  .navbar-toggler:focus {
    box-shadow: none;
}

  .navbar-dark .navbar-toggler-icon {
    background-image: none;
  }
  .navbar-toggler span:before, .navbar-toggler span:after {
    position: absolute;
    content: '';
  }
  .navbar-toggler span, .navbar-toggler span:before, .navbar-toggler span:after {
    width: 30px;
    height: 6px;
    --tw-text-opacity: 1;
    background-color: rgba(209,250,229,var(--tw-text-opacity));
    display: block;
  }
  .navbar-toggler span:before {
    margin-top: -12px;
  }
  .navbar-toggler span:after {
    margin-top: 12px;
  }
  
  .navbar-toggler span {
    -webkit-transition-duration: 0s; transition-duration: 0s;
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
  }
  .navbar-toggler:not(.collapsed) span {
    background-color: rgba(0,0,0,0.0);
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
  }
  .navbar-toggler span:before {
    -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
    -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
  }
  .navbar-toggler:not(.collapsed) span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg); transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
  }
  .navbar-toggler span:after {
    -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
    -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
  }
  .navbar-toggler:not(.collapsed) span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
  }

  .nav-link-animation{
    transition: transform 100ms ease-in-out 15ms;
  }
  .nav-link-animation:hover{
    transform:translate3d(0px, -8px, 0px);
  }